body, html {
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
    font-family:'Arial', sans-serif;
}

/* TFrame */

#tframe {
    height:100%;
    width:100%;
    min-height:100%;
}

#tframe-top {
    bottom:33%;
    margin-bottom:8px;
    overflow:hidden;
}

#tframe-separator {
    bottom:33%;
}

#tframe-bottom {
    height:33%;
    overflow:hidden;
}

#tframe-bottom-top {
    position:relative;
    z-index:2;
}

.split-pane-divider  {
    height:5px;
    background:url("../images/handle.png") no-repeat scroll 50% 1px #EBEBEB;
}

/* TCanvas */

#tcanvas-outer {
    width:100%;
    position:relative;
    overflow:hidden;
    height:100%;
    background-color:#FFFFFF;
}

#tcanvas {
    background-color:transparent;
    width:500px;
    height:200px;
    position:relative;
    overflow:hidden;
}

#tcanvas-design {
    position:absolute;
    width:100%;
    height:100%;
    background-image:url('../images/design_back.png');
}

#tcanvas_container {
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}

/* TEditor */

#teditor {
    height:100%;
    margin-right:200px;
}

#teditor.editor-disabled {
    background-color:#EFEFEF;
}

#teditor.editor-disabled .ace_cursor {
    border-color:transparent;
}

#teditor.editor-disabled #disabled-message {
    position:absolute;
    z-index:10;
    height:100%;
    width:100%;
    text-align:center;
}

#teditor.editor-disabled #disabled-message p {
    margin:0;
    padding:0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color:#333435;
    font-size:0.8em;
    opacity:0.3;
}

#tsidebar {
    background-color:#DEDEDE;
    width:250px;
    float:right;
    height:100%;
    font-family:'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
    overflow:hidden;
    position:relative;
}

#tsidebar-switch {
    float:right;
    height:100%;
    width:40px;
    background-color: #929292;
}

#tsidebar-switch-programs {
    cursor:pointer;
    width:100%;
    height:45px;
    background-image:url('../images/programs.png');
    background-repeat:no-repeat;
    background-position:50% 50%;
}

#tsidebar-switch-resources {
    cursor:pointer;
    width:100%;
    height:45px;
    background-image:url('../images/resources.png');
    background-repeat:no-repeat;
    background-position:50% 50%;
}

#tsidebar-switch-programs.active, #tsidebar-switch-resources.active {
    background-color: #dedede;
}

#tsidebar-programs, #tsidebar-resources {
    overflow-y:auto;
    height:100%;
    margin-right:40px;
    position:relative;
}

#tsidebar-upload {
    padding-top:30px;
}

#tsidebar-upload-header {
    text-align:center;
    background-color:#DEDEDE;
    margin-top:-28px;
}

#tsidebar-upload-input {
    visibility:hidden;
    width:0;
    height:0;
}

#tsidebar-upload-button {
    font-family:'Arial', sans-serif;
    display:inline-block;
    font-size:10pt;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    margin-bottom:5px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:8px;
    padding-right:8px;
    color:#000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    background-color:transparent;
    cursor:pointer;
}

#tsidebar-upload-button:hover {
    color:#990000;
    background-color:#DEDEDE;
}

#tsidebar-upload-button:disabled:hover {
    color:#000000;
    background-color:transparent;
}


#tsidebar-upload-button img {
    margin-right:8px;
    vertical-align:text-bottom;
    height:16px;
    opacity:0.6;
}

#tsidebar-upload-button:hover img {
    opacity:1;
}

#tsidebar-upload-button:disabled:hover img {
    opacity:0.6;
}

.tsidebar-program {
    padding:10px;
    color:#333435;
    cursor:pointer;
    position:relative;
}

.tsidebar-edited {
    color:/*#19469D*//*#0000CD*/#E47637;
}

.tsidebar-current {
    background-color:#FFFFFF;
}

.tsidebar-close {
    position:absolute;
    right:10px;
    top:10px;
    height:20px;
    width:20px;
    background-image:url('../images/close.png');
    background-size:20px 20px;
    display:none;
    opacity:0.6;
}

.tsidebar-program:hover .tsidebar-close {
    display:block;
}

.tsidebar-program:hover .tsidebar-close:hover {
    opacity:1;
}

.tsidebar-program.tsidebar-renaming:hover .tsidebar-close {
    display:none;
}

.tsidebar-renaming > div:first-child {
    display:none;
}

#tsidebar-resources-empty {
    position:absolute;
    z-index:10;
    height:100%;
    width:100%;
    text-align:center;
}

#tsidebar-resources-empty p {
    margin:0;
    padding:0px 10px;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    color:#333435;
    opacity:0.3;
}

.tsidebar-file {
    float:left;
    margin:10px;
    padding:4px;
    width:90px;
    height:90px;
    border:1px solid transparent;
    overflow:hidden;
    font-size:0.8em;
    background-color:#FFFFFF;
    background-image:url('../images/file.png');
    background-repeat:no-repeat;
    background-position:50% 60%;
    word-wrap: break-word;
    border-radius:5px;
    cursor:pointer;
    text-align:center;
    position:relative;
}

.tsidebar-type-image {
    background-image:url('../images/picture.png');    
} 

.tsidebar-type-image.current {
    background-image:url('../images/picture_white.png');    
}

.tsidebar-type-audio {
    background-image:url('../images/music.png');    
}

.tsidebar-type-audio.current {
    background-image:url('../images/music_white.png');    
}

.tsidebar-type-video {
    background-image:url('../images/video.png');    
}

.tsidebar-type-video.current {
    background-image:url('../images/video_white.png');
}

.tsidebar-file.current {
    color:#FFFFFF;
    background-color:#E47637;
}

.progress-bar-wrapper {
    height:8px;
    background-color:black;
    position:absolute;
    bottom:5px;
    left:5px;
    right:5px;
}

.progress-bar-wrapper .progress-bar {
    height:8px;
    background-color:#ADFF2F;
    width:0%;
}

.tsidebar-loading {
    position:absolute;
    right:12px;
    top:12px;
    height:16px;
    width:16px;
    background-image:url('../images/loader.gif');
}

.tsidebar-renaming .tsidebar-loading {
    background-image:url('../images/loader2.gif');
}


.tangara_error {    
    background: rgba(255, 0, 0, 0.1);
    position: absolute;
    width: 100% !important;
    left: 0 !important;
    position: absolute;
}

/* TConsole */

#tconsole {
    width:100%;
    background-color:#EAF2F0;
    padding-left:5px;
    padding-right:5px;
    padding-top:10px;
}

#tconsole-text {
    height:2em;
    background-color:#EAF2F0;
}

/* TToolbar */

#ttoolbar {
    background-color:#FFFFFF;
    font-size:10pt;
    font-weight:normal;
    display:table;
    width:100%;
}

.ttoolbar-modes {
    display:table-cell;
    text-align:left;
    width:33%;
}

.ttoolbar-buttons {
    display:table-cell;
    text-align:center;
    width:33%;
}

.ttoolbar-options {
    display:table-cell;
    text-align:right;
    width:33%;
}

.ttoolbar-mode,
.ttoolbar-button,
.ttoolbar-option
{
    font-size:10pt;
    min-width:100px;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:5px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:8px;
    padding-right:8px;
    color:#000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color:transparent;
    background-color:transparent;
    cursor:pointer;
}

.ttoolbar-mode-image,
.ttoolbar-button-image,
.ttoolbar-option-image {
    margin-right:8px;
    vertical-align:text-bottom;
    height:16px;
    opacity:0.6;
}

.ttoolbar-mode:hover,
.ttoolbar-option:hover {
    color:#990000;
    background-color:#DEDEDE;
}

.ttoolbar-mode:hover .ttoolbar-mode-image,
.ttoolbar-option:hover .ttoolbar-option-image,
.ttoolbar-button:hover .ttoolbar-button-image,
.ttoolbar-mode.active .ttoolbar-mode-image {
    opacity:1;    
}

.ttoolbar-option:disabled:hover .ttoolbar-option-image {
    opacity:0.5;
}

.ttoolbar-option:disabled:hover {
    color:#000000;
    background-color:transparent;
}

.ttoolbar-mode.active {
    color:#FFFFFF;
    background-color:#929292;
}

.ttoolbar-option {
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
}

.ttoolbar-option[disabled],.ttoolbar-option[disabled]:active {
    opacity:0.5;
    background-color:#FFFFFF;
    border-color:#CCCCCC;
}

.ttoolbar-option:active {
    background-color:#EBEBEB;
    border-color:#ADADAD;
}

.ttoolbar-button-execute {
    background-color:#6DBEA9;
    /*border-color:#4D9E89;*/
    color:#ffffff;
}

.ttoolbar-button-execute .ttoolbar-button-image {
    opacity:1;
}

.ttoolbar-button-execute:hover {
    color:#FF0000;
}

.ttoolbar-button-execute:active {
    background-color:#4D9E89;
}

/* TLog */

#tlog-outer {
    position:relative;
    z-index:1;  
    width:100%;
    height:100%;
    background-color:#DEDEDE;
    overflow:hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#tlog-inner {
    padding:5px;
    height:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow:hidden;
}

#tlog {
    height:100%;
    overflow:auto;
}
            
.tlog-row {
    font-family:'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
    font-size:20px;
}
            
.tlog-success {
    /*color:#009900;*/color:#0D7E49;
}
            
.tlog-failure {
    color:#FF0000;
    cursor:pointer;
}

.tlog-failure:hover {
    text-decoration:underline;
}

.tlog-message {
    color:#0000FF;
}

/* TRuntinme */

.runtime-frame {
    display:none;
}
