body, html {
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
    font-family:'Arial', sans-serif;
}

/* TFrame */

#tframe {
    height:100%;
    width:100%;
    min-height:100%;
}

#tframe-top {
    bottom:33%;
    margin-bottom:8px;
    overflow:hidden;
}

#tframe-separator {
    bottom:33%;
}

#tframe-bottom {
    height:33%;
    overflow:hidden;
}

#tframe-bottom-top {
    position:relative;
    z-index:2;
}

.split-pane-divider  {
    height:5px;
    background:url("../images/handle.png") no-repeat scroll 50% 1px #EBEBEB;
}

/* TCanvas */

#tcanvas-outer {
    width:100%;
    position:relative;
    overflow:hidden;
    height:100%;
    background-color:#FFFFFF;
}

#tcanvas {
    background-color:transparent;
    width:500px;
    height:200px;
    position:relative;
    overflow:hidden;
}

#tcanvas-design {
    position:absolute;
    width:100%;
    height:100%;
    background-image:url('../images/design_back.png');
}

#tcanvas_container {
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}

/* TEditor */

#teditor {
    height:100%;
    width:100%;
}

#teditor-sidebar {
    background-color:#DEDEDE;
    width:200px;
    float:right;
    height:100%;
    font-family:'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
}

.teditor-sidebar-program {
    padding:10px;
    color:#333435;
    cursor:pointer;
    position:relative;
}

.teditor-sidebar-edited {
    color:/*#19469D*//*#0000CD*/#E47637;
}

.teditor-sidebar-current {
    background-color:#FFFFFF;
}

.teditor-sidebar-close {
    position:absolute;
    right:10px;
    top:10px;
    height:20px;
    width:20px;
    background-image:url('../images/close.png');
    display:none;
}

.teditor-sidebar-program:hover .teditor-sidebar-close {
    display:block;
}

#teditor-text {
    height:100%;
    margin-right:200px;
}

.tangara_error {    
    background: rgba(255, 0, 0, 0.1);
    position: absolute;
    width: 100% !important;
    left: 0 !important;
    position: absolute;
}

/* TConsole */

#tconsole {
    width:100%;
    background-color:#C5D6DB;
    padding-left:5px;
    padding-right:5px;
    padding-top:10px;
}

#tconsole-text {
    height:2em;
    background-color:#C5D6DB;
}

/* TToolbar */

#ttoolbar {
    background-color:#FFFFFF;
    font-size:10pt;
    font-weight:normal;
    display:table;
    width:100%;
}

.ttoolbar-modes {
    display:table-cell;
    text-align:left;
    width:33%;
}

.ttoolbar-buttons {
    display:table-cell;
    text-align:center;
    width:33%;
}

.ttoolbar-options {
    display:table-cell;
    text-align:right;
    width:33%;
}

.ttoolbar-mode,
.ttoolbar-button,
.ttoolbar-option
{
    font-size:10pt;
    min-width:100px;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:5px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:8px;
    padding-right:8px;
    color:#000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color:transparent;
    background-color:transparent;
    cursor:pointer;
}

.ttoolbar-mode-image,
.ttoolbar-button-image,
.ttoolbar-option-image {
    margin-right:5px;
    vertical-align:text-bottom;
    height:16px;
}

.ttoolbar-mode:hover,
.ttoolbar-option:hover {
    color:#990000;
    background-color:#DEDEDE;
}

.ttoolbar-mode.active {
    color:#FFFFFF;
    background-color:#929292;
}

.ttoolbar-option {
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
}

.ttoolbar-option:active {
    background-color:#EBEBEB;
    border-color:#ADADAD;
}

.ttoolbar-button-execute {
    background-color:#6DBEA9;
    border-color:#4D9E89;
    color:#ffffff;
}

.ttoolbar-button-execute:hover {
    /*color:#398439;*/
}

.ttoolbar-button-execute:active {
    background-color:#4D9E89;
}

/* TLog */

#tlog-outer {
    position:relative;
    z-index:1;  
    width:100%;
    height:100%;
    background-color:#DEDEDE;
    overflow:hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#tlog-inner {
    padding:5px;
    height:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow:hidden;
}

#tlog {
    height:100%;
    overflow:auto;
}
            
.tlog-row {
    font-family:'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
    font-size:20px;
}
            
.tlog-success {
    /*color:#009900;*/color:#0D7E49;
}
            
.tlog-failure {
    color:#FF0000;
    cursor:pointer;
}

.tlog-failure:hover {
    text-decoration:underline;
}

.tlog-message {
    color:#0000FF;
}

/* TRuntinme */

.runtime-frame {
    display:none;
}
