<div id="tlearnframe">
	<div id="tlearnframe-main">
		<div id="tlearnframe-left">
			<div id="tlearnframe-instruction">
				<div id="tlearnframe-instructions"></div>
			</div>
                        <div id="tlearnframe-solution">
			</div>
		</div>
		<div id="tlearnframe-right">
			<div id="tlearnframe-canvas">
				<div id="TLearnCanvas"></div>
				<div id="tlearnframe-message">
					<a href="#" id="tlearnframe-message-close"></a>
					<div id="tlearnframe-message-content"></div>
				</div>
			</div>
			<div id="tlearnframe-bottom">
				<div id="tlearnframe-buttons">
					<button class="ttoolbar-button ttoolbar-button-execute">
						<img src="images/play_orange.png" class="ttoolbar-button-image">
					</button>
					<button class="ttoolbar-button ttoolbar-button-clear">
						<img src="images/reset.png" class="ttoolbar-button-image">
					</button>
				</div>
				<div id="TLearnEditor"></div>
			</div>
			<div id="tlearnframe-lesson">
				<div id="tlearnframe-lesson-congrats">
				</div>
				<div id="tlearnframe-lesson-content">
				</div>
			</div>	
		</div>
	</div>
	<div id="tlearnframe-credits">
		Declick beta - &copy; <a href='http://www.colombbus.org' target='_blank'>Colombbus</a> 2015
	</div>
</div>